@model ASSESSMENTWEB.Models.Books.List
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Book List</h1>

    <a class="btn btn-primary" href="@Url.Action("Create", "Book", new { Area = "Book" })">
        Create New
    </a>

@if (Model != null && Model.BookList != null && Model.BookList.Count > 0)
{
    <div class="col-md-12 dataTables_wrapper">
        <div class="card-table ">
            <table id="example" class="table table-striped table-bordered table-responsive-sm" style="width:100%">
                <thead>
                    <tr>
                        <th class="sort-default">Publisher</th>
                        <th class="sort-default">Title</th>
                        <th class="sort-default">Author Last Name</th>
                        <th class="text-center">Author First Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BookList)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit","Book",  new { Area = "Book", id = item.BookID })">@item.Publisher</a>
                                
                            </td>
                            <td>@item.Title</td>
                            <td>@item.AuthorLastName</td>
                            <td>@item.AuthorFirstName</td>
                            <td>@item.Price</td>
                            <td class="dt-width-2 text-center">
                                <ul class="dt-actions">
                                    <li>
                                        <a href="@Url.Action("Edit","Book",  new { Area = "Book", id = item.BookID })" class="btn-action" title="Edit">Edit</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Delete","Book",  new { Area = "Book", id = item.BookID })" class="btn-delete">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="col-md-12 d-flex justify-content-center mt-2">
        <div class="card content-boxshadow">
            <div class="card-body text-center">
                <h3 class="nodata-text">
                    No Data Available
                </h3>
                <p class="text-muted">
                    There is no data available to show you right now.
                </p>
            </div>
        </div>
    </div>
}